#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "1password/tap"
    "bufbuild/buf"
    "creedasaurus/gprox"
    "koekeishiya/formulae"
    "mistertea/et"
    "nats-io/nats-tools"
    "sdkman/tap"
    "oven-sh/bun" -}}

{{ $brews := list
    "atuin"
    "bat"
    "bottom"
    "bun"
    "caddy"
    "chezmoi"
    "cowsay"
    "curl"
    "git-delta"
    "d2"
    "direnv"
    "dos2unix"
    "sqlite"
    "dua-cli"
    "duf"
    "exa"
    "fastmod"
    "fd"
    "fswatch"
    "fzf"
    "ffmpeg"
    "fpp"
    "gawk"
    "gh"
    "git"
    "gitui"
    "git-delta"
    "git-lfs"
    "gnu-units"
    "gnupg"
    "go"
    "golangci-lint"
    "go-task"
    "graphviz"
    "htop"
    "hyperfine"
    "jaq"
    "jq"
    "just"
    "kubernetes-cli"
    "lazygit"
    "lsd"
    "ncurses"
    "less"
    "luarocks"
    "mint"
    "mise"
    "mitmproxy"
    "mosh"
    "nats-io/nats-tools/nats"
    "neofetch"
    "neovim"
    "nushell"
    "oha"
    "openssl"
    "pdfcpu"
    "pipes-sh"
    "protobuf"
    "ranger"
    "ripgrep"
    "rsync"
    "rust"
    "rustscan"
    "sheldon"
    "skhd"
    "steampipe"
    "tig"
    "tmux"
    "tokei"
    "trash"
    "tree"
    "tree-sitter"
    "trippy"
    "unzip"
    "up"
    "urlscan"
    "watch"
    "wget"
    "yabai"
    "yq"
    "yt-dlp"
    "zellij"
    "zip"
    "zlib"
    "zoxide"
    "zsh"
    "zsh-autosuggestions"
    "xz" -}}

{{- $casks := list }}
{{- $vscodes := list }}

{{- if eq .chezmoi.os "darwin" }}
{{-  $taps = concat $taps (list
    "homebrew/cask-fonts") -}}
{{-  $casks = concat $casks (list
    "1password"
    "1password-cli"
    "activitywatch"
    "alacritty"
    "android-platform-tools"
    "appcleaner"
    "balenaetcher"
    "brave-browser"
    "bruno"
    "chromedriver"
    "darktable"
    "discord"
    "element"
    "figma"
    "firefox"
    "finch"
    "font-3270-nerd-font"
    "font-fira-code-nerd-font"
    "font-fira-mono-nerd-font"
    "font-hack-nerd-font"
    "font-im-writing-nerd-font"
    "font-jetbrains-mono-nerd-font"
    "font-mononoki-nerd-font"
    "font-ubuntu-mono-nerd-font"
    "fork"
    "google-chrome"
    "hammerspoon"
    "iterm2"
    "jetbrains-toolbox"
    "kap"
    "karabiner-elements"
    "keepingyouawake"
    "microsoft-edge"
    "obs"
    "obsidian"
    "raycast"
    "raspberry-pi-imager"
    "rectangle"
    "scroll-reverser"
    "slack"
    "spotify"
    "stretchly"
    "sublime-text"
    "tuist"
    "visual-studio-code"
    "vlc"
    "wezterm"
    "xcodes"
    "zed"
    "zoom") -}}

{{-  $vscodes = concat $vscodes (list
    "amazonwebservices.aws-toolkit-vscode"
    "castwide.solargraph"
    "dbaeumer.vscode-eslint"
    "esbenp.prettier-vscode"
    "golang.go"
    "redhat.vscode-yaml"
    "yoavbls.pretty-ts-errors") -}}

{{- $brews = concat $brews (list
    "colima"
)}}

{{- else }}
{{ if eq (get .chezmoi.osRelease "prettyName") "Amazon Linux 2" }}
# Amazon Linux 2 can't build node with mise. Install from brew...
{{-  $brews = concat $brews (list
    "node@20"
    "node@18"
    "node@16"
    "node@14") -}}
{{- end }}
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

{{ range ($vscodes | sortAlpha | uniq) -}}
vscode "{{ . }}"
{{ end -}}

EOF
