#!/bin/bash

set -eufo pipefail

{{ $taps := list
     "1password/tap"
     "bufbuild/buf"
     "creedasaurus/gprox"
     "mistertea/et"
     "sdkman/tap" -}}

{{ $brews := list
     "asdf"
     "bat"
     "bottom"
     "chezmoi"
     "colima"
     "curl"
     "git-delta"
     "direnv"
     "sqlite"
     "dua-cli"
     "duf"
     "exa"
     "fd"
     "fswatch"
     "fzf"
     "ffmpeg"
     "gawk"
     "gh"
     "git"
     "gitui"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "go"
     "golangci-lint"
     "graphviz"
     "htop"
     "hyperfine"
     "jq"
     "lazygit"
     "lsd"
     "ncurses"
     "less"
     "luarocks"
     "mint"
     "mitmproxy"
     "neofetch"
     "neovim"
     "nushell"
     "oha"
     "protobuf"
     "ranger"
     "ripgrep"
     "rsync"
     "rtx"
     "rust"
     "sheldon"
     "steampipe"
     "tig"
     "tmux"
     "tokei"
     "trash"
     "tree"
     "tree-sitter"
     "unzip"
     "watch"
     "wget"
     "yq"
     "yt-dlp" 
     "zellij"
     "zip"
     "zsh"
     "zsh-autosuggestions"
     "xz" -}}

{{- $casks := list }}
{{- if eq .chezmoi.os "darwin" }}
{{-  $casks = concat $casks (list 
          "1password"
          "android-platform-tools"
          "appcleaner"
          "discord"
          "element"
          "figma"
          "firefox"
          "finch"
          "font-3270-nerd-font"
          "font-fira-code-nerd-font"
          "font-fira-mono-nerd-font"
          "font-hack-nerd-font"
          "font-im-writing-nerd-font"
          "font-jetbrains-mono-nerd-font"
          "font-mononoki-nerd-font"
          "font-ubuntu-mono-nerd-font"
          "fork"
          "google-chrome"
          "insomnia"
          "iterm2"
          "jetbrains-toolbox"
          "kap"
          "keepingyouawake"
          "kitty"
          "neovide"
          "obs"
          "obsidian"
          "raycast"
          "rectangle"
          "scroll-reverser"
          "slack"
          "spotify"
          "stretchly"
          "sublime-text"
          "visual-studio-code"
          "vlc"
          "wezterm"
          "xcodes"
          "zed"
          "hammerspoon"
          "karabiner-elements") -}}
{{- else }}
# No casks on linux
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

EOF

