{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/yabai
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

README.md
Brewfile

dot_config/nvim-old
*.bak

# Don't version the lazy-lock file
**/*/lazy-lock.json
