#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "1password/tap"
    "buildpacks/tap"
    "confluentinc/tap"
    "dagger/tap"
    "derailed/k9s"
    "hashicorp/tap"
    "kcl-lang/tap"
    "creedasaurus/gprox"
    "redpanda-data/tap"
    "sdkman/tap"
    "warrensbox/tap"
    "turbot/tap" -}}

{{ $brews := list
    "substrate/tap/aop"
    "atuin"
    "awscli@2"
    "bat"
    "confluentinc/tap/cli"
    "dagger/tap/dagger"
    "deno"
    "doggo"
    "gradle-completion"
    "helm"
    "derailed/k9s/k9s"
    "kcl-lang/tap/kcl"
    "kcl-lang/tap/kcl-lsp"
    "substrate/tap/ixm"
    "krew"
    "luarocks"
    "mint"
    "mise"
    "openssl"
    "buildpacks/tap/pack"
    "hashicorp/tap/packer"
    "redpanda-data/tap/redpanda"
    "steampipe"
    "hashicorp/tap/terraform"
    "warrensbox/tap/tfswitch"
    "trash"
    "uv"
    "hashicorp/tap/vault"
    "zsh"
    "zlib" -}}

{{- $casks := list }}
{{- $vscodes := list }}

{{- if eq .chezmoi.os "darwin" }}
{{-  $taps = concat $taps (list
    "koekeishiya/formulae") -}}
{{-  $casks = concat $casks (list
    "1password"
    "1password-cli"
    "activitywatch"
    "alacritty"
    "android-platform-tools"
    "appcleaner"
    "balenaetcher"
    "brave-browser"
    "bruno"
    "chromedriver"
    "darktable"
    "dbeaver-community"
    "discord"
    "element"
    "figma"
    "firefox"
    "finch"
    "font-3270-nerd-font"
    "font-fira-code-nerd-font"
    "font-fira-mono-nerd-font"
    "font-hack-nerd-font"
    "font-im-writing-nerd-font"
    "font-jetbrains-mono-nerd-font"
    "font-mononoki-nerd-font"
    "font-ubuntu-mono-nerd-font"
    "fork"
    "ghostty"
    "hammerspoon"
    "iterm2"
    "jetbrains-toolbox"
    "kap"
    "karabiner-elements"
    "keepingyouawake"
    "microsoft-edge"
    "obs"
    "obsidian"
    "postman"
    "raycast"
    "raspberry-pi-imager"
    "rectangle"
    "scroll-reverser"
    "spotify"
    "stretchly"
    "sublime-text"
    "tuist"
    "visual-studio-code"
    "visualvm"
    "vlc"
    "wezterm"
    "xcodes"
    "zed") -}}

{{-  $vscodes = concat $vscodes (list
    "amazonwebservices.aws-toolkit-vscode"
    "castwide.solargraph"
    "dbaeumer.vscode-eslint"
    "esbenp.prettier-vscode"
    "golang.go"
    "redhat.vscode-yaml"
    "yoavbls.pretty-ts-errors") -}}

{{- $brews = concat $brews (list
    "colima"
)}}

{{- else }}
{{ if eq (get .chezmoi.osRelease "prettyName") "Amazon Linux 2" }}
# Amazon Linux 2 can't build node with mise. Install from brew...
{{-  $brews = concat $brews (list
    "node@20"
    "node@18"
    "node@16"
    "node@14") -}}
{{- end }}
{{- end }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
tap "substrate/tap", "git@github.ol.epicgames.net:substrate/homebrew-tap.git"

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}

{{ range ($vscodes | sortAlpha | uniq) -}}
vscode "{{ . }}"
{{ end -}}

EOF
