
[tools]

node = ['20', '18', '16', '14']
python = ['3', '3.8', '3.9', '3.10', '3.11']
ruby = ['3']
go = ['1.22']
java = ['corretto-17', 'corretto-11', 'corretto-8', 'corretto-21']
elixir = ['1.15']
erlang = ['26.2.1']
usage = "latest"

[settings]

experimental = true
jobs = 6

{{- if eq (get .chezmoi.osRelease "prettyName") "Amazon Linux 2" }}
# Amazon Linux doesn't have the right libs to build using the default plugin
[plugins]
node = 'ssh://git.amazon.com/pkg/RtxNode'
{{- end }}

[alias.java]
'21' = 'corretto-21'
'17' = 'corretto-17'
'11' = 'corretto-11'
'8' = 'corretto-8'
