#!/usr/bin/env zsh
# vim: set filetype=zsh :

echo "dot zprofile"

# {{- if eq .chezmoi.os "darwin" }}
# path=(
#   $HOMEBREW_PREFIX/bin
#   $path
# )
# {{- end }}
#
# path=(
#   $HOME/.toolbox/bin
#   $HOME/.local/bin
#   $HOME/.rodar/bin
#   $HOME/.cargo/bin
#   $path
# )
#
# typeset -U path
