#!/usr/bin/env zsh
# vim: set filetype=zsh :

# Ghostty shell integration
if [[ -n $GHOSTTY_RESOURCES_DIR ]]; then
  autoload -Uz -- "$GHOSTTY_RESOURCES_DIR"/shell-integration/zsh/ghostty-integration
  ghostty-integration
  unfunction ghostty-integration
fi

# PATHS
source "$ZDOTDIR/setup_paths.zsh"

source "$ZDOTDIR/setup_fzf.zsh"

# ZIM
source "$ZDOTDIR/setup_zim.zsh"

eval "$(starship init zsh)"
eval "$(mise activate zsh)"
eval "$(zoxide init zsh)"
eval "$(atuin init zsh)"

## Langs
export GOPROXY="direct"

## utilities

# tldr client doesn't respect user set XDG directories yet
export TEALDEER_CONFIG_DIR=~/.config/tealdeer

## work aliases
alias gs='git status'
alias la='lsd -la'

{{- if eq .chezmoi.os "darwin" }}
# Replace docker with https://github.com/abiosoft/colima
#alias docker='nerdctl'
{{- end }}

alias k='kubectl'

# kube krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

complete -o nospace -C /opt/homebrew/bin/vault vault

