#!/usr/bin/env zsh
# vim: set filetype=zsh :
echo "dot zshrc"
# PATHS
source "$ZDOTDIR/setup_paths.zsh"

# ZIM
source "$ZDOTDIR/setup_zim.zsh"

eval "$(mise activate zsh)"
eval "$(zoxide init zsh)"
eval "$(atuin init zsh)"

## Langs
export GOPROXY="direct"

## utilities
function mcurl() {
    /usr/bin/curl "$@" -L --cookie ~/.midway/cookie --cookie-jar ~/.midway/cookie
}

## work aliases
alias bb='brazil-build'
alias bbb='brc --allPackages brazil-build'
alias brc='brazil-recursive-cmd'
alias bws='brazil ws'
alias gs='git status'
alias la='lsd -la'

{{- if eq .chezmoi.os "darwin" }}
alias odin="ssh -N -L 2009:localhost:2009 haymd.aka.corp.amazon.com"
# Replace docker with https://github.com/abiosoft/colima
alias docker='nerdctl'
{{- end }}

alias k='kubectl'
