#!/usr/bin/env zsh
# vim: set filetype=zsh :

typeset -U path

{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

path=(
  $HOME/.local/bin
  $HOME/.cargo/bin
  /Applications/Obsidian.app/Contents/MacOS
  $path
)

if [[ -v HOMEBREW_PREFIX ]]; then
  fpath=(
    $HOMEBREW_PREFIX/share/zsh/site-functions
    $fpath
  )
fi

fpath=(
  $ZDOTDIR/completion
  $fpath
)

# Set zsh history to much bigger
export HISTSIZE=150000
export SAVEHIST=150000
export HISTFILE="$XDG_DATA_HOME/zsh/history"
