#!/bin/bash

set -eufo pipefail

{{ $taps := list
     "1password/tap"
     "bufbuild/buf"
     "creedasaurus/gprox"
     "mistertea/et"
     "sdkman/tap" -}}

{{ $brews := list
     "asdf"
     "bat"
     "bottom"
     "chezmoi"
     "colima"
     "curl"
     "git-delta"
     "direnv"
     "sqlite"
     "dua-cli"
     "duf"
     "exa"
     "fd"
     "fswatch"
     "fzf"
     "ffmpeg"
     "gawk"
     "gh"
     "git"
     "gitui"
     "git-lfs"
     "gnu-units"
     "gnupg"
     "go"
     "golangci-lint"
     "graphviz"
     "htop"
     "hyperfine"
     "jq"
     "lazygit"
     "lsd"
     "ncurses"
     "less"
     "luarocks"
     "mint"
     "mitmproxy"
     "neofetch"
     "neovim"
     "nushell"
     "oha"
     "protobuf"
     "ranger"
     "ripgrep"
     "rsync"
     "rtx"
     "rust"
     "steampipe"
     "tig"
     "tmux"
     "tokei"
     "trash"
     "tree"
     "tree-sitter"
     "unzip"
     "watch"
     "wget"
     "yq"
     "yt-dlp" 
     "zellij"
     "zip"
     "zsh"
     "zsh-autosuggestions"
     "xz" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}

EOF

