epicArtifactoryUsername={{ onepasswordRead "op://epic/artifactory/username" }}
epicArtifactoryPassword={{ onepasswordRead "op://epic/artifactory/password" }}

eosDataSchemaRegistryUsername={{ onepasswordRead "op://epic/eos-schema-registry/username" }}
eosDataSchemaRegistryPassword={{ onepasswordRead "op://epic/eos-schema-registry/password" }}
